@model MovieCollectionApp.ViewModels.Models.MovieCollectionViewModel

<div class="jumbotron">
    <div class="panel-body" id="mainForm">
        @using (Html.BeginForm("Index", "ListOperations", FormMethod.Post))
        {
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            @Html.LabelFor(m => m.Id, new { @class = "control-label" }):
                        </th>
                        <th>
                            @Html.EditorFor(m => m.Id, new { @class = "form-control" })
                        </th>
                    </tr>
                    <tr>
                        <th>
                            @Html.Label("Categories Limit"):
                        </th>
                        <th>
                            @Html.EditorFor(m => m.CategoryLimitCount, new { @class = "form-control" })
                        </th>
                    </tr>
                    <tr>
                        <th>
                            @Html.Label("Name")
                        </th>
                        <th>
                            @Html.Label("Year")
                        </th>
                        <th>
                            @Html.Label("Rating")
                        </th>
                        <th>
                            @Html.Label("Seen")
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @for (var i = 0; i < Model.Categories.Count; i++)
                    {
                        <tr>
                            <th>
                                @{
                                    bool condition = i >= ViewBag.CategoryLimitCount;
                                }
                                @Html.LabelFor(c => c.Categories[i].Name):
                            </th>
                            <th>
                                @Html.TextBoxFor(c => c.Categories[i].Name, new { disabled = condition, @class = "control-label" })
                                @Html.HiddenFor(c => c.Categories[i].Name)
                            </th>
                            <th>
                                <label class="btn btn-dark">
                                    @Html.CheckBoxFor(c => c.Categories[i].Enabled, new { @checked = Model.Categories[i].Enabled, @class = "checkbox-large" })
                                    @Html.HiddenFor(c => c.Categories[i].Enabled)
                                </label>
                            </th>
                        </tr>
                        for (var j = 0; j < Model.Categories[i].Movies.Count; j++)
                        {
                            <tr class="position-sticky" id="categoryToggleExternalContent">
                                @{
                                    var conditionAttributes = !Model.Categories[i].Enabled ?
                                        (object)new { htmlAttributes = new { disabled = "disabled", @class = "form-control" } } :
                                        (object)new { htmlAttributes = new { @class = "form-control" } };
                                }
                                <td>
                                    @Html.EditorFor(m => m.Categories[i].Movies[j].Name, conditionAttributes)
                                    @Html.HiddenFor(m => m.Categories[i].Movies[j].Name)
                                </td>
                                <td>
                                    @Html.EditorFor(m => m.Categories[i].Movies[j].Year, conditionAttributes)
                                    @Html.HiddenFor(m => m.Categories[i].Movies[j].Year)
                                </td>
                                <td>
                                    @Html.EditorFor(m => m.Categories[i].Movies[j].Rating, conditionAttributes)
                                    @Html.HiddenFor(m => m.Categories[i].Movies[j].Rating)
                                </td>
                                <td>
                                    <label class="btn btn-dark">
                                        @{
                                            object checkboxAttributes;
                                            if (!Model.Categories[i].Enabled)
                                            {
                                                checkboxAttributes = Model.Categories[i].Movies[j].Seen ?
                                                      (object)new { htmlAttributes = new { disabled = "disabled", @class = "checkbox-large", @checked = "checked" } } :
                                                      (object)new { htmlAttributes = new { disabled = "disabled", @class = "checkbox-large" } };
                                            }
                                            else
                                            {
                                                checkboxAttributes = Model.Categories[i].Movies[j].Seen ?
                                                      (object)new { htmlAttributes = new { @class = "checkbox-large", @checked = "checked" } } :
                                                      (object)new { htmlAttributes = new { @class = "checkbox-large" } };
                                            }
                                        }
                                        @Html.EditorFor(m => m.Categories[i].Movies[j].Seen, checkboxAttributes)
                                    </label>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
                <tfoot>
                    <tr>
                        <th>
                            @Html.LabelFor(m => m.TotalSeen, new { @class = "control-label" }):
                        </th>
                        <th>
                            @Html.DisplayFor(m => m.TotalSeen, new { @class = "form-control" })
                        </th>
                        <th>
                        </th>
                        <th>
                            <input type="submit" value="Save" class="btn btn-primary" />
                        </th>
                    </tr>
                </tfoot>
            </table>
        }
    </div>
</div>
