@model ListOperationsTestApp.Models.OrderViewModel

<div class="jumbotron">
    <div class="panel panel-default">
        <div class="panel-body" id="mainForm">
            @using (Html.BeginForm("Index", "ListOperations", FormMethod.Post))
            {
                <table class="table">
                    <tr>
                        <th>
                            @Html.Label("Name")
                        </th>
                        <th>
                            @Html.Label("Price, $")
                        </th>
                        <th>
                            @Html.Label("Count")
                        </th>
                        <th>
                            @Html.Label("Allowed")
                        </th>
                        <th></th>
                    </tr>
                    @for (var i = 0; i < ViewBag.LimitCount; i++)
                    {
                        <tr>
                            <td>
                                @Html.EditorFor(m => m.DetailsList[i].Name, new { htmlAttributes = new { @class = "form-control" } })
                            </td>
                            <td>
                                @Html.EditorFor(m => m.DetailsList[i].Price, new { htmlAttributes = new { @class = "form-control" } })
                            </td>
                            <td>
                                @Html.EditorFor(m => m.DetailsList[i].Count, new { htmlAttributes = new { @class = "form-control" } })
                            </td>
                            <td>
                                <span class="form-control">
                                    @{
                                        var checkboxAttributes = Model.DetailsList[i].Included ?
                                            (object)new { htmlAttributes = new { @class = "checkbox-inline", @checked = "checked" } } :
                                            (object)new { htmlAttributes = new { @class = "checkbox-inline" } };
                                    }
                                    @Html.EditorFor(m => m.DetailsList[i].Included, checkboxAttributes)
                                </span>
                            </td>
                        </tr>
                    }
                </table>
                <div class="row col-md-12 form-group form-inline">
                    @Html.LabelFor(m => m.Id, new { @class = "control-label col-md-4" })
                    @Html.EditorFor(m => m.Id, new { @class = "form-control col-md-4" })
                </div>
                <div class="row col-md-12 form-group form-inline">
                    @Html.LabelFor(m => m.TotalCost, new { @class = "control-label col-md-4" })
                    @Html.DisplayFor(m => m.TotalCost, new { @class = "form-control col-md-4" })$
                </div>
                <div class="">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            }
        </div>
    </div>
